*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagenes/fondo.jpg);
    color: rgb(40, 40, 40);
}
header{
    background-color: rgb(72, 191, 251) ;
    width: 100%;
    height: 60px;
}
.logo{
    padding-top: 5px;
    padding-left: 30px;
}
main{
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedorCajaTexto{
    position: absolute;
  
    top: 10px;
    padding-left: 100px;
    width: 700px;
    height: 400px;
}

.cajaTexto{
    width: 70%;
    height: 85%;
    background-image: linear-gradient(164deg, rgba(49,49,49,0.15) 0%,transparent 44%),linear-gradient(97deg, rgba(49,49,49,0.15) 0%,transparent 40%),linear-gradient(265deg, rgba(49,49,49,0.15) 0%,transparent 30%),linear-gradient(316deg, rgba(49,49,49,0.15) 0%,transparent 78%),repeating-linear-gradient(38deg, rgba(140,140,140,0.1) 0px,transparent 3px),repeating-linear-gradient(100deg, rgba(140,140,140,0.1) 0px,transparent 3px),linear-gradient(90deg, rgb(241,194,117),rgb(241,194,117));
    cursor: pointer;
    color: #5c370e;
    font-size: 30px;
    font-weight: 400;
    border-radius: 10px;
    
}
.cajaTexto::placeholder{
    color: rgb(92, 70, 19);
    padding-left: 18px;
    
}
.alert{
    position: absolute;
    top: 350px;
    left: 100px;
    display: flex;
    color: black;
}
                                     /* btotones de encriptar y desencriptar */
.contenedorBotones{
    position: absolute;
    top: 380px;
    height: 80px;
    left: 80px;
    padding-top: 8px;
}
                            
.btnEncriptar{
    width: 300px;
    height: 40px;
    border-radius: 24px;
    background-color: rgb(123, 97, 33);
    color: rgb(255, 253, 253);
    font-size: 16px;
    font-weight: 400;
    border: 5px rgb(102, 69, 19);
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
    
}
.btnDesencriptar{
    width: 300px;
    height: 40px;
    border-radius: 24px;
    background-color: rgb(19, 172, 37);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    border: 2px black;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.btnEncriptar:active{
    background-color: #4295f4;
}
.btnDesencriptar:active{
    background-color: #4295f4;
}
.btnCopiar:active{
    background-color: #4295f4;
}
                                    /* Seccion 2 */
.seccion2 {
    display:block;
    position: relative;
    margin-top: 10px;
    padding-right: 20px;
    right: 70px;
    width: 200px;
    height: 400px;
    background-image: linear-gradient(227deg, rgba(37,37,37,0.2) 0%,transparent 8%),linear-gradient(125deg, rgba(37,37,37,0.2) 0%,transparent 58%),linear-gradient(321deg, rgba(37,37,37,0.2) 0%,transparent 47%),linear-gradient(130deg, rgba(37,37,37,0.2) 0%,transparent 23%),linear-gradient(270deg, rgba(60,60,60,0.95) 0%,transparent 1%),linear-gradient(90deg, rgba(56,56,56,0.95) 0%,transparent 1%),repeating-linear-gradient(236deg, rgba(140,140,140,0.1) 0px,transparent 4px),repeating-linear-gradient(90deg, rgba(140,140,140,0.1) 0px,transparent 4px),repeating-linear-gradient(277deg, rgba(140,140,140,0.1) 0px,transparent 4px),linear-gradient(90deg, rgb(241,194,117),rgb(241,194,117));
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(90, 88, 88, 0.5);
    text-align:center;

}

.contenedorMuneco{
    position: absolute;
    left: 40px;
    box-sizing: border-box;
    padding-top: 15px;
    
}

.contenedorParrafo{
    position: absolute;
    box-sizing: border-box;
    top: 200px;
    left: 10px;
}
.contenedorParrafo h3{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}
.contenedorParrafo p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    
}
.contenedorResultado{
    color: #5c370e;
    font-size: 20px;
}
.contenedorBotones2{
    display: flex;
    position: absolute;
    left: 140px;
    top: 250px;
    

}
.btnCopiar{
    width: 100px;
    text-align: center;
    height: 50px;
    border-radius: 24px;
    font-size: 15px;
    display: flex;
    background-color: rgb(123, 97, 33);
    color: rgb(255, 255, 255);
    border: 1px black;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 80px;
    justify-content: center;
    transition: 0.2s;

}
.ocultar{
    display: none;
}